.DS_Store
HaxeBinding/bin
*.userprefs
obj
/HaxeBinding/gtk-gui/MonoDevelop.HaxeBinding.Projects.Gui.HaxeOutputOptionsWidget.cs
/HaxeBinding/gtk-gui/MonoDevelop.HaxeBinding.Projects.Gui.HaxeProjectOptionsWidget.cs
/HaxeBinding/gtk-gui/MonoDevelop.HaxeBinding.Projects.Gui.HaxeProjectRunWidget.cs
/HaxeBinding/gtk-gui/generated.cs
/HaxeBinding/gtk-gui/MonoDevelop.HaxeBinding.Languages.Gui.HaxeOptionsWidget.cs
